### BASE
SERVICE_NAME=auth
APP_ENV=local
LOG_LEVEL=debug

### HTTP
HTTP_PORT=50052
HTTP_HOST=localhost

### DB
DB_DSN=postgres://postgres:postgres@localhost:5433/auth?sslmode=disable

### JWT
JWT_SECRET=dev-secret
ACCESS_TOKEN_TTL_MINUTES=60
REFRESH_TOKEN_TTL_DAYS=30
